.sectioncheck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__label{
        color: white;
    }
}

.sectionbuttom{
    &__buttom{
        background: rgba(0, 210, 255, .24) !important;
        border: 2px solid #119AB7 !important;
        width: 130px;
        height: 35px;
    }
    &__text{
        color: white;
    }
}

.logocontainer{
    border-bottom: 2px solid white !important;
    &__img{
        width: 350px;
        height: auto;
    }
}

.card{
    background:#271f1f !important;
    width: 450px;
}

.sectionpasscontainer__link{
    color: white;
}

@media screen and (max-width: 400px){
    .sectionbuttom__buttom{
    width: 120px;
    height: 30px;
    }
    .sectionbuttom__text{
        font-size: 13px;
    }
    .sectioncheck__label{
        font-size: 13px;
    }
    .sectionpasscontainer__link{
        font-size: 13px;
    }
}

@media screen and (max-width: 300px){
    .sectionbuttom__buttom{
    width: 100px;
    height: 30px;
    }
    .sectioncheck__label{
        margin-top: 5%;
    }
}
